@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap");
.skills {
  position: relative;
  height: 120vh;
  background-color: rgb(0, 0, 0);
  z-index: 3;
}
.skills .title {
  align-items: center;
  text-align: center;
  color: rgba(255, 255, 255, 0.1);
  font-weight: bolder;
  padding-top: 7rem;
  font-style: italic;
  font-size: 55px;
  letter-spacing: 10px;
  font-family: "Press Start 2P";
}
.skills .box {
  width: 50px;
  padding-top: 2rem;
  margin-left: 10rem;
}
.skills .box .box-svg .svg-1 {
  position: absolute;
  left: 50%;
  width: 50px;
  top: 50%;
  -webkit-animation: fly 8s ease-in-out infinite;
          animation: fly 8s ease-in-out infinite;
}
.skills .box .box-svg .svg-2 {
  position: absolute;
  left: 90%;
  width: 40px;
  top: 10%;
  -webkit-animation: fly 8s ease-in-out infinite;
          animation: fly 8s ease-in-out infinite;
}
.skills .box .box-svg .svg-3 {
  position: absolute;
  left: 80%;
  width: 40px;
  top: 20%;
  -webkit-animation: fly 8s ease-in-out infinite;
          animation: fly 8s ease-in-out infinite;
}
.skills .box .box-svg .svg-4 {
  position: absolute;
  left: 70%;
  width: 40px;
  top: 30%;
  -webkit-animation: fly 8s ease-in-out infinite;
          animation: fly 8s ease-in-out infinite;
}
.skills .box .box-svg .svg-5 {
  position: absolute;
  left: 60%;
  width: 40px;
  top: 40%;
  -webkit-animation: fly 8s ease-in-out infinite;
          animation: fly 8s ease-in-out infinite;
}
.skills .box .box-svg .svg-6 {
  position: absolute;
  left: 40%;
  width: 40px;
  top: 55%;
  -webkit-animation: fly 8s ease-in-out infinite;
          animation: fly 8s ease-in-out infinite;
}
.skills .box .box-svg .svg-7 {
  position: absolute;
  left: 30%;
  width: 40px;
  top: 30%;
  -webkit-animation: fly 8s ease-in-out infinite;
          animation: fly 8s ease-in-out infinite;
}
.skills .box .box-svg .svg-8 {
  position: absolute;
  left: 20%;
  width: 40px;
  top: 20%;
  -webkit-animation: fly 8s ease-in-out infinite;
          animation: fly 8s ease-in-out infinite;
}
.skills .box .box-svg .svg-9 {
  position: absolute;
  left: 10%;
  width: 40px;
  top: 10%;
  -webkit-animation: fly 8s ease-in-out infinite;
          animation: fly 8s ease-in-out infinite;
}
.skills .box .box-svg .svg-10 {
  position: absolute;
  left: 40%;
  width: 40px;
  top: 42%;
  -webkit-animation: fly 8s ease-in-out infinite;
          animation: fly 8s ease-in-out infinite;
}
.skills .box .box-svg .svg-11 {
  position: absolute;
  left: 40%;
  width: 40px;
  top: 70%;
  -webkit-animation: fly 8s ease-in-out infinite;
          animation: fly 8s ease-in-out infinite;
}
.skills .box .box-svg .svg-12 {
  position: absolute;
  left: 50%;
  width: 40px;
  top: 78%;
  -webkit-animation: fly 8s ease-in-out infinite;
          animation: fly 8s ease-in-out infinite;
}
.skills .box .box-svg .svg-13 {
  position: absolute;
  left: 10%;
  width: 40px;
  top: 25%;
  -webkit-animation: fly 8s ease-in-out infinite;
          animation: fly 8s ease-in-out infinite;
}
.skills .box .box-svg .svg-14 {
  position: absolute;
  left: 20%;
  width: 40px;
  top: 35%;
  -webkit-animation: fly 8s ease-in-out infinite;
          animation: fly 8s ease-in-out infinite;
}
.skills .box .box-svg .svg-15 {
  position: absolute;
  left: 30%;
  width: 40px;
  top: 45%;
  -webkit-animation: fly 8s ease-in-out infinite;
          animation: fly 8s ease-in-out infinite;
}
.skills .box .box-svg .svg-16 {
  position: absolute;
  left: 90%;
  width: 40px;
  top: 22%;
  -webkit-animation: fly 8s ease-in-out infinite;
          animation: fly 8s ease-in-out infinite;
}
.skills .box .box-svg .svg-17 {
  position: absolute;
  left: 50%;
  width: 40px;
  top: 65%;
  -webkit-animation: fly 8s ease-in-out infinite;
          animation: fly 8s ease-in-out infinite;
}
.skills .box .box-svg .svg-18 {
  position: absolute;
  left: 60%;
  width: 40px;
  top: 55%;
  -webkit-animation: fly 8s ease-in-out infinite;
          animation: fly 8s ease-in-out infinite;
}
.skills .box .box-svg .svg-19 {
  position: absolute;
  left: 70%;
  width: 40px;
  top: 45%;
  -webkit-animation: fly 8s ease-in-out infinite;
          animation: fly 8s ease-in-out infinite;
}
.skills .box .box-svg .svg-20 {
  position: absolute;
  left: 80%;
  width: 40px;
  top: 35%;
  -webkit-animation: fly 8s ease-in-out infinite;
          animation: fly 8s ease-in-out infinite;
}
.skills .box .box-svg .svg-21 {
  position: absolute;
  left: 10%;
  width: 40px;
  top: 40%;
  -webkit-animation: fly 8s ease-in-out infinite;
          animation: fly 8s ease-in-out infinite;
}
.skills .box .box-svg .svg-22 {
  position: absolute;
  left: 20%;
  width: 40px;
  top: 50%;
  -webkit-animation: fly 8s ease-in-out infinite;
          animation: fly 8s ease-in-out infinite;
}
.skills .box .box-svg .svg-23 {
  position: absolute;
  left: 30%;
  width: 40px;
  top: 60%;
  -webkit-animation: fly 8s ease-in-out infinite;
          animation: fly 8s ease-in-out infinite;
}
.skills .box .box-svg .svg-24 {
  position: absolute;
  left: 40%;
  width: 40px;
  top: 85%;
  -webkit-animation: fly 8s ease-in-out infinite;
          animation: fly 8s ease-in-out infinite;
}
.skills .box .box-svg .svg-25 {
  position: absolute;
  left: 50%;
  width: 40px;
  top: 90%;
  -webkit-animation: fly 8s ease-in-out infinite;
          animation: fly 8s ease-in-out infinite;
}
.skills .box .box-svg .svg-26 {
  position: absolute;
  left: 60%;
  width: 40px;
  top: 70%;
  -webkit-animation: fly 8s ease-in-out infinite;
          animation: fly 8s ease-in-out infinite;
}
.skills .box .box-svg .svg-27 {
  position: absolute;
  left: 70%;
  width: 40px;
  top: 60%;
  -webkit-animation: fly 8s ease-in-out infinite;
          animation: fly 8s ease-in-out infinite;
}
.skills .box .box-svg .svg-28 {
  position: absolute;
  left: 80%;
  width: 40px;
  top: 50%;
  -webkit-animation: fly 8s ease-in-out infinite;
          animation: fly 8s ease-in-out infinite;
}
.skills .box .box-svg .svg-29 {
  position: absolute;
  left: 90%;
  width: 40px;
  top: 35%;
  -webkit-animation: fly 8s ease-in-out infinite;
          animation: fly 8s ease-in-out infinite;
}
.skills .box .box-svg .svg-30 {
  position: absolute;
  left: 10%;
  width: 40px;
  top: 55%;
  -webkit-animation: fly 8s ease-in-out infinite;
          animation: fly 8s ease-in-out infinite;
}
.skills .box .box-svg .svg-31 {
  position: absolute;
  left: 20%;
  width: 40px;
  top: 60%;
  -webkit-animation: fly 8s ease-in-out infinite;
          animation: fly 8s ease-in-out infinite;
}
.skills .box .box-svg .svg-32 {
  position: absolute;
  left: 30%;
  width: 40px;
  top: 75%;
  -webkit-animation: fly 8s ease-in-out infinite;
          animation: fly 8s ease-in-out infinite;
}
.skills .box .box-svg .svg-33 {
  position: absolute;
  left: 80%;
  width: 40px;
  top: 7%;
  -webkit-animation: fly 8s ease-in-out infinite;
          animation: fly 8s ease-in-out infinite;
}
.skills .box .box-svg .svg-34 {
  position: absolute;
  left: 50%;
  width: 40px;
  top: 35%;
  -webkit-animation: fly 8s ease-in-out infinite;
          animation: fly 8s ease-in-out infinite;
}
.skills .box .box-svg .svg-35 {
  position: absolute;
  left: 60%;
  width: 40px;
  top: 85%;
  -webkit-animation: fly 8s ease-in-out infinite;
          animation: fly 8s ease-in-out infinite;
}
.skills .box .box-svg .svg-36 {
  position: absolute;
  left: 70%;
  width: 40px;
  top: 75%;
  -webkit-animation: fly 8s ease-in-out infinite;
          animation: fly 8s ease-in-out infinite;
}
.skills .box .box-svg .svg-38 {
  position: absolute;
  left: 80%;
  width: 40px;
  top: 63%;
  -webkit-animation: fly 8s ease-in-out infinite;
          animation: fly 8s ease-in-out infinite;
}
.skills .box .box-svg .svg-37 {
  position: absolute;
  left: 90%;
  width: 40px;
  top: 50%;
  -webkit-animation: fly 8s ease-in-out infinite;
          animation: fly 8s ease-in-out infinite;
}
.skills .box .box-svg .svg-39 {
  position: absolute;
  left: 10%;
  width: 40px;
  top: 65%;
  -webkit-animation: fly 8s ease-in-out infinite;
          animation: fly 8s ease-in-out infinite;
}
.skills .box .box-svg .svg-40 {
  position: absolute;
  left: 20%;
  width: 40px;
  top: 75%;
  -webkit-animation: fly 8s ease-in-out infinite;
          animation: fly 8s ease-in-out infinite;
}
.skills .box .box-svg .svg-41 {
  position: absolute;
  left: 30%;
  width: 40px;
  top: 85%;
  -webkit-animation: fly 8s ease-in-out infinite;
          animation: fly 8s ease-in-out infinite;
}
.skills .box .box-svg .svg-42 {
  position: absolute;
  left: 20%;
  width: 40px;
  top: 7%;
  -webkit-animation: fly 8s ease-in-out infinite;
          animation: fly 8s ease-in-out infinite;
}
.skills .box .box-svg .svg-43 {
  position: absolute;
  left: 90%;
  width: 40px;
  top: 80%;
  -webkit-animation: fly 8s ease-in-out infinite;
          animation: fly 8s ease-in-out infinite;
}
.skills .box .box-svg .svg-44 {
  position: absolute;
  left: 80%;
  width: 40px;
  top: 85%;
  -webkit-animation: fly 8s ease-in-out infinite;
          animation: fly 8s ease-in-out infinite;
}
.skills .box .box-svg .svg-45 {
  position: absolute;
  left: 70%;
  width: 40px;
  top: 85%;
  -webkit-animation: fly 8s ease-in-out infinite;
          animation: fly 8s ease-in-out infinite;
}
.skills .box .box-svg .svg-46 {
  position: absolute;
  left: 80%;
  width: 40px;
  top: 75%;
  -webkit-animation: fly 8s ease-in-out infinite;
          animation: fly 8s ease-in-out infinite;
}
.skills .box .box-svg .svg-47 {
  position: absolute;
  left: 90%;
  width: 40px;
  top: 65%;
  -webkit-animation: fly 8s ease-in-out infinite;
          animation: fly 8s ease-in-out infinite;
}
.skills .box .box-svg .svg-48 {
  position: absolute;
  left: 10%;
  width: 40px;
  top: 80%;
  -webkit-animation: fly 8s ease-in-out infinite;
          animation: fly 8s ease-in-out infinite;
}
.skills .box .box-svg .svg-49 {
  position: absolute;
  left: 20%;
  width: 40px;
  top: 85%;
  -webkit-animation: fly 8s ease-in-out infinite;
          animation: fly 8s ease-in-out infinite;
}
.skills .box .box-svg .svg-50 {
  position: absolute;
  left: 10%;
  width: 40px;
  top: 90%;
  -webkit-animation: fly 8s ease-in-out infinite;
          animation: fly 8s ease-in-out infinite;
}
.skills .box .box-svg .svg-51 {
  position: absolute;
  left: 90%;
  width: 40px;
  top: 90%;
  -webkit-animation: fly 8s ease-in-out infinite;
          animation: fly 8s ease-in-out infinite;
}

/* Shapes */
.home__shape-small,
.home__shape-big-1,
.home__shape-big-2 {
  position: absolute;
  border-radius: 50%;
  filter: blur(70px);
}

.home__shape-small {
  width: 150px;
  height: 150px;
  background-color: hsl(0deg, 71%, 60%);
  top: 5rem;
  left: 30rem;
  -webkit-animation: float-shape 20s ease-in-out infinite;
          animation: float-shape 20s ease-in-out infinite;
}

.home__shape-big-1,
.home__shape-big-2 {
  width: 250px;
  height: 250px;
}

.home__shape-big-1 {
  background-color: hsl(203deg, 71%, 60%);
  top: 8rem;
  right: 25rem;
  -webkit-animation: float-shape-big 20s ease-in-out infinite;
          animation: float-shape-big 20s ease-in-out infinite;
}

.home__shape-big-2 {
  background-color: hsl(106deg, 56%, 68%);
  left: 35rem;
  bottom: 10rem;
  -webkit-animation: float-shape 20s ease-in-out infinite;
          animation: float-shape 20s ease-in-out infinite;
}

@-webkit-keyframes fly {
  0% {
    transform: translateY(1rem);
  }
  50% {
    transform: translateY(2rem);
  }
  100% {
    transform: translateY(1rem);
  }
}

@keyframes fly {
  0% {
    transform: translateY(1rem);
  }
  50% {
    transform: translateY(2rem);
  }
  100% {
    transform: translateY(1rem);
  }
}
@-webkit-keyframes float-shape {
  0% {
    transform: translateX(10rem);
  }
  25% {
    transform: translateY(5rem);
  }
  50% {
    transform: translateX(1rem);
  }
  75% {
    transform: translateY(10rem);
  }
  100% {
    transform: translateX(10rem);
  }
}
@keyframes float-shape {
  0% {
    transform: translateX(10rem);
  }
  25% {
    transform: translateY(5rem);
  }
  50% {
    transform: translateX(1rem);
  }
  75% {
    transform: translateY(10rem);
  }
  100% {
    transform: translateX(10rem);
  }
}
@-webkit-keyframes float-shape-big {
  0% {
    transform: translateX(1rem);
  }
  25% {
    transform: translateY(9rem);
  }
  50% {
    transform: translateX(10rem);
  }
  75% {
    transform: translateY(-4rem);
  }
  100% {
    transform: translateX(1rem);
  }
}
@keyframes float-shape-big {
  0% {
    transform: translateX(1rem);
  }
  25% {
    transform: translateY(9rem);
  }
  50% {
    transform: translateX(10rem);
  }
  75% {
    transform: translateY(-4rem);
  }
  100% {
    transform: translateX(1rem);
  }
}
@media screen and (max-width: 1116px) {
  .skills .title {
    position: absolute;
    font-size: 55px;
    right: 21rem;
  }
}
@media screen and (max-width: 1024px) {
  .skills .title {
    font-size: 45px;
  }
}
@media screen and (max-width: 980px) {
  .skills .title {
    position: absolute;
    font-size: 45px;
    right: 19rem;
  }
  .skills .home__shape-small {
    width: 150px;
    height: 150px;
    top: 5rem;
    left: -1rem;
  }
  .skills .home__shape-big-1 {
    top: 8rem;
    right: 15rem;
  }
  .skills .home__shape-big-2 {
    left: -6rem;
    bottom: 10rem;
  }
  .skills .box .box-svg .svg-1 {
    width: 30px;
  }
  .skills .box .box-svg .svg-2 {
    width: 30px;
  }
  .skills .box .box-svg .svg-3 {
    width: 30px;
  }
  .skills .box .box-svg .svg-4 {
    width: 30px;
  }
  .skills .box .box-svg .svg-5 {
    width: 30px;
  }
  .skills .box .box-svg .svg-6 {
    width: 30px;
  }
  .skills .box .box-svg .svg-7 {
    width: 30px;
  }
  .skills .box .box-svg .svg-8 {
    width: 30px;
  }
  .skills .box .box-svg .svg-9 {
    width: 30px;
  }
  .skills .box .box-svg .svg-10 {
    width: 30px;
  }
  .skills .box .box-svg .svg-11 {
    width: 30px;
  }
  .skills .box .box-svg .svg-12 {
    width: 30px;
  }
  .skills .box .box-svg .svg-13 {
    width: 30px;
  }
  .skills .box .box-svg .svg-14 {
    width: 30px;
  }
  .skills .box .box-svg .svg-15 {
    width: 30px;
  }
  .skills .box .box-svg .svg-16 {
    width: 30px;
  }
  .skills .box .box-svg .svg-17 {
    width: 30px;
  }
  .skills .box .box-svg .svg-18 {
    width: 30px;
  }
  .skills .box .box-svg .svg-19 {
    width: 30px;
  }
  .skills .box .box-svg .svg-20 {
    width: 30px;
  }
  .skills .box .box-svg .svg-21 {
    width: 30px;
  }
  .skills .box .box-svg .svg-22 {
    width: 30px;
  }
  .skills .box .box-svg .svg-23 {
    width: 30px;
  }
  .skills .box .box-svg .svg-24 {
    width: 30px;
  }
  .skills .box .box-svg .svg-25 {
    width: 30px;
  }
  .skills .box .box-svg .svg-26 {
    width: 30px;
  }
  .skills .box .box-svg .svg-27 {
    width: 30px;
  }
  .skills .box .box-svg .svg-28 {
    width: 30px;
  }
  .skills .box .box-svg .svg-29 {
    width: 30px;
  }
  .skills .box .box-svg .svg-30 {
    width: 30px;
  }
  .skills .box .box-svg .svg-31 {
    width: 30px;
  }
  .skills .box .box-svg .svg-32 {
    width: 30px;
  }
  .skills .box .box-svg .svg-33 {
    width: 30px;
  }
  .skills .box .box-svg .svg-34 {
    width: 30px;
  }
  .skills .box .box-svg .svg-35 {
    width: 30px;
  }
  .skills .box .box-svg .svg-36 {
    width: 30px;
  }
  .skills .box .box-svg .svg-37 {
    width: 30px;
  }
  .skills .box .box-svg .svg-38 {
    width: 30px;
  }
  .skills .box .box-svg .svg-39 {
    width: 30px;
  }
  .skills .box .box-svg .svg-40 {
    width: 30px;
  }
  .skills .box .box-svg .svg-41 {
    width: 30px;
  }
  .skills .box .box-svg .svg-42 {
    width: 30px;
  }
  .skills .box .box-svg .svg-43 {
    width: 30px;
  }
  .skills .box .box-svg .svg-44 {
    width: 30px;
  }
  .skills .box .box-svg .svg-45 {
    width: 30px;
  }
  .skills .box .box-svg .svg-46 {
    width: 30px;
  }
  .skills .box .box-svg .svg-47 {
    width: 30px;
  }
  .skills .box .box-svg .svg-48 {
    width: 30px;
  }
  .skills .box .box-svg .svg-49 {
    width: 30px;
  }
  .skills .box .box-svg .svg-50 {
    width: 30px;
  }
  .skills .box .box-svg .svg-51 {
    width: 30px;
  }
}
@media screen and (max-width: 870px) {
  .skills .title {
    position: absolute;
    font-size: 45px;
    right: 15rem;
  }
  .skills .home__shape-small {
    width: 150px;
    height: 150px;
    top: 5rem;
    left: -1rem;
  }
  .skills .home__shape-big-1 {
    top: 8rem;
    right: 15rem;
  }
  .skills .home__shape-big-2 {
    left: -6rem;
    bottom: 10rem;
  }
  .skills .box .box-svg .svg-1 {
    width: 30px;
  }
  .skills .box .box-svg .svg-2 {
    width: 30px;
  }
  .skills .box .box-svg .svg-3 {
    width: 30px;
  }
  .skills .box .box-svg .svg-4 {
    width: 30px;
  }
  .skills .box .box-svg .svg-5 {
    width: 30px;
  }
  .skills .box .box-svg .svg-6 {
    width: 30px;
  }
  .skills .box .box-svg .svg-7 {
    width: 30px;
  }
  .skills .box .box-svg .svg-8 {
    width: 30px;
  }
  .skills .box .box-svg .svg-9 {
    width: 30px;
  }
  .skills .box .box-svg .svg-10 {
    width: 30px;
  }
  .skills .box .box-svg .svg-11 {
    width: 30px;
  }
  .skills .box .box-svg .svg-12 {
    width: 30px;
  }
  .skills .box .box-svg .svg-13 {
    width: 30px;
  }
  .skills .box .box-svg .svg-14 {
    width: 30px;
  }
  .skills .box .box-svg .svg-15 {
    width: 30px;
  }
  .skills .box .box-svg .svg-16 {
    width: 30px;
  }
  .skills .box .box-svg .svg-17 {
    width: 30px;
  }
  .skills .box .box-svg .svg-18 {
    width: 30px;
  }
  .skills .box .box-svg .svg-19 {
    width: 30px;
  }
  .skills .box .box-svg .svg-20 {
    width: 30px;
  }
  .skills .box .box-svg .svg-21 {
    width: 30px;
  }
  .skills .box .box-svg .svg-22 {
    width: 30px;
  }
  .skills .box .box-svg .svg-23 {
    width: 30px;
  }
  .skills .box .box-svg .svg-24 {
    width: 30px;
  }
  .skills .box .box-svg .svg-25 {
    width: 30px;
  }
  .skills .box .box-svg .svg-26 {
    width: 30px;
  }
  .skills .box .box-svg .svg-27 {
    width: 30px;
  }
  .skills .box .box-svg .svg-28 {
    width: 30px;
  }
  .skills .box .box-svg .svg-29 {
    width: 30px;
  }
  .skills .box .box-svg .svg-30 {
    width: 30px;
  }
  .skills .box .box-svg .svg-31 {
    width: 30px;
  }
  .skills .box .box-svg .svg-32 {
    width: 30px;
  }
  .skills .box .box-svg .svg-33 {
    width: 30px;
  }
  .skills .box .box-svg .svg-34 {
    width: 30px;
  }
  .skills .box .box-svg .svg-35 {
    width: 30px;
  }
  .skills .box .box-svg .svg-36 {
    width: 30px;
  }
  .skills .box .box-svg .svg-37 {
    width: 30px;
  }
  .skills .box .box-svg .svg-38 {
    width: 30px;
  }
  .skills .box .box-svg .svg-39 {
    width: 30px;
  }
  .skills .box .box-svg .svg-40 {
    width: 30px;
  }
  .skills .box .box-svg .svg-41 {
    width: 30px;
  }
  .skills .box .box-svg .svg-42 {
    width: 30px;
  }
  .skills .box .box-svg .svg-43 {
    width: 30px;
  }
  .skills .box .box-svg .svg-44 {
    width: 30px;
  }
  .skills .box .box-svg .svg-45 {
    width: 30px;
  }
  .skills .box .box-svg .svg-46 {
    width: 30px;
  }
  .skills .box .box-svg .svg-47 {
    width: 30px;
  }
  .skills .box .box-svg .svg-48 {
    width: 30px;
  }
  .skills .box .box-svg .svg-49 {
    width: 30px;
  }
  .skills .box .box-svg .svg-50 {
    width: 30px;
  }
  .skills .box .box-svg .svg-51 {
    width: 30px;
  }
}
@media screen and (max-width: 792px) {
  .skills .title {
    position: absolute;
    font-size: 45px;
    right: 13rem;
  }
}
@media screen and (max-width: 731px) {
  .skills .title {
    position: absolute;
    font-size: 45px;
    right: 11.5rem;
  }
}
@media screen and (max-width: 691px) {
  .skills .title {
    position: absolute;
    font-size: 38px;
    right: 9rem;
  }
}
@media screen and (max-width: 570px) {
  .skills .title {
    font-size: 35px;
  }
  .skills .home__shape-small {
    width: 150px;
    height: 150px;
    top: 5rem;
    left: -1rem;
  }
  .skills .home__shape-big-1 {
    top: 8rem;
    right: 15rem;
  }
  .skills .home__shape-big-2 {
    left: -6rem;
    bottom: 10rem;
  }
  .skills .box .box-svg .svg-1 {
    width: 25px;
  }
  .skills .box .box-svg .svg-2 {
    width: 25px;
  }
  .skills .box .box-svg .svg-3 {
    width: 25px;
  }
  .skills .box .box-svg .svg-4 {
    width: 25px;
  }
  .skills .box .box-svg .svg-5 {
    width: 25px;
  }
  .skills .box .box-svg .svg-6 {
    width: 25px;
  }
  .skills .box .box-svg .svg-7 {
    width: 25px;
  }
  .skills .box .box-svg .svg-8 {
    width: 25px;
  }
  .skills .box .box-svg .svg-9 {
    width: 25px;
  }
  .skills .box .box-svg .svg-10 {
    width: 25px;
  }
  .skills .box .box-svg .svg-11 {
    width: 25px;
  }
  .skills .box .box-svg .svg-12 {
    width: 25px;
  }
  .skills .box .box-svg .svg-13 {
    width: 25px;
  }
  .skills .box .box-svg .svg-14 {
    width: 25px;
  }
  .skills .box .box-svg .svg-15 {
    width: 25px;
  }
  .skills .box .box-svg .svg-16 {
    width: 25px;
  }
  .skills .box .box-svg .svg-17 {
    width: 25px;
  }
  .skills .box .box-svg .svg-18 {
    width: 25px;
  }
  .skills .box .box-svg .svg-19 {
    width: 25px;
  }
  .skills .box .box-svg .svg-20 {
    width: 25px;
  }
  .skills .box .box-svg .svg-21 {
    width: 25px;
  }
  .skills .box .box-svg .svg-22 {
    width: 25px;
  }
  .skills .box .box-svg .svg-23 {
    width: 25px;
  }
  .skills .box .box-svg .svg-24 {
    width: 25px;
  }
  .skills .box .box-svg .svg-25 {
    width: 25px;
  }
  .skills .box .box-svg .svg-26 {
    width: 25px;
  }
  .skills .box .box-svg .svg-27 {
    width: 25px;
  }
  .skills .box .box-svg .svg-28 {
    width: 25px;
  }
  .skills .box .box-svg .svg-29 {
    width: 25px;
  }
  .skills .box .box-svg .svg-30 {
    width: 25px;
  }
  .skills .box .box-svg .svg-31 {
    width: 25px;
  }
  .skills .box .box-svg .svg-32 {
    width: 25px;
  }
  .skills .box .box-svg .svg-33 {
    width: 25px;
  }
  .skills .box .box-svg .svg-34 {
    width: 25px;
  }
  .skills .box .box-svg .svg-35 {
    width: 25px;
  }
  .skills .box .box-svg .svg-36 {
    width: 25px;
  }
  .skills .box .box-svg .svg-37 {
    width: 25px;
  }
  .skills .box .box-svg .svg-38 {
    width: 25px;
  }
  .skills .box .box-svg .svg-39 {
    width: 25px;
  }
  .skills .box .box-svg .svg-40 {
    width: 25px;
  }
  .skills .box .box-svg .svg-41 {
    width: 25px;
  }
  .skills .box .box-svg .svg-42 {
    width: 25px;
  }
  .skills .box .box-svg .svg-43 {
    width: 25px;
  }
  .skills .box .box-svg .svg-44 {
    width: 25px;
  }
  .skills .box .box-svg .svg-45 {
    width: 25px;
  }
  .skills .box .box-svg .svg-46 {
    width: 25px;
  }
  .skills .box .box-svg .svg-47 {
    width: 25px;
  }
  .skills .box .box-svg .svg-48 {
    width: 25px;
  }
  .skills .box .box-svg .svg-49 {
    width: 25px;
  }
  .skills .box .box-svg .svg-50 {
    width: 25px;
  }
  .skills .box .box-svg .svg-51 {
    width: 25px;
  }
}
@media screen and (max-width: 516px) {
  .skills .title {
    font-size: 33px;
    right: 7.3rem;
  }
}
@media screen and (max-width: 484px) {
  .skills .title {
    font-size: 30px;
    right: 7.3rem;
  }
}
@media screen and (max-width: 450px) {
  .skills .title {
    font-size: 25px;
  }
  .skills .home__shape-small {
    width: 150px;
    height: 150px;
    top: 5rem;
    left: -1rem;
  }
  .skills .home__shape-big-1 {
    top: 8rem;
    right: 15rem;
  }
  .skills .home__shape-big-2 {
    left: -6rem;
    bottom: 10rem;
  }
  .skills .box .box-svg .svg-1 {
    width: 22px;
  }
  .skills .box .box-svg .svg-2 {
    width: 22px;
  }
  .skills .box .box-svg .svg-3 {
    width: 22px;
  }
  .skills .box .box-svg .svg-4 {
    width: 22px;
  }
  .skills .box .box-svg .svg-5 {
    width: 22px;
  }
  .skills .box .box-svg .svg-6 {
    width: 22px;
  }
  .skills .box .box-svg .svg-7 {
    width: 22px;
  }
  .skills .box .box-svg .svg-8 {
    width: 22px;
  }
  .skills .box .box-svg .svg-9 {
    width: 22px;
  }
  .skills .box .box-svg .svg-10 {
    width: 22px;
  }
  .skills .box .box-svg .svg-11 {
    width: 22px;
  }
  .skills .box .box-svg .svg-12 {
    width: 22px;
  }
  .skills .box .box-svg .svg-13 {
    width: 22px;
  }
  .skills .box .box-svg .svg-14 {
    width: 22px;
  }
  .skills .box .box-svg .svg-15 {
    width: 22px;
  }
  .skills .box .box-svg .svg-16 {
    width: 22px;
  }
  .skills .box .box-svg .svg-17 {
    width: 22px;
  }
  .skills .box .box-svg .svg-18 {
    width: 22px;
  }
  .skills .box .box-svg .svg-19 {
    width: 22px;
  }
  .skills .box .box-svg .svg-20 {
    width: 22px;
  }
  .skills .box .box-svg .svg-21 {
    width: 22px;
  }
  .skills .box .box-svg .svg-22 {
    width: 22px;
  }
  .skills .box .box-svg .svg-23 {
    width: 22px;
  }
  .skills .box .box-svg .svg-24 {
    width: 22px;
  }
  .skills .box .box-svg .svg-25 {
    width: 22px;
  }
  .skills .box .box-svg .svg-26 {
    width: 22px;
  }
  .skills .box .box-svg .svg-27 {
    width: 22px;
  }
  .skills .box .box-svg .svg-28 {
    width: 22px;
  }
  .skills .box .box-svg .svg-29 {
    width: 22px;
  }
  .skills .box .box-svg .svg-30 {
    width: 22px;
  }
  .skills .box .box-svg .svg-31 {
    width: 22px;
  }
  .skills .box .box-svg .svg-32 {
    width: 22px;
  }
  .skills .box .box-svg .svg-33 {
    width: 22px;
  }
  .skills .box .box-svg .svg-34 {
    width: 22px;
  }
  .skills .box .box-svg .svg-35 {
    width: 22px;
  }
  .skills .box .box-svg .svg-36 {
    width: 22px;
  }
  .skills .box .box-svg .svg-37 {
    width: 22px;
  }
  .skills .box .box-svg .svg-38 {
    width: 22px;
  }
  .skills .box .box-svg .svg-39 {
    width: 22px;
  }
  .skills .box .box-svg .svg-40 {
    width: 22px;
  }
  .skills .box .box-svg .svg-41 {
    width: 22px;
  }
  .skills .box .box-svg .svg-42 {
    width: 22px;
  }
  .skills .box .box-svg .svg-43 {
    width: 22px;
  }
  .skills .box .box-svg .svg-44 {
    width: 22px;
  }
  .skills .box .box-svg .svg-45 {
    width: 22px;
  }
  .skills .box .box-svg .svg-46 {
    width: 22px;
  }
  .skills .box .box-svg .svg-47 {
    width: 22px;
  }
  .skills .box .box-svg .svg-48 {
    width: 22px;
  }
  .skills .box .box-svg .svg-49 {
    width: 22px;
  }
  .skills .box .box-svg .svg-50 {
    width: 22px;
  }
  .skills .box .box-svg .svg-51 {
    width: 22px;
  }
}
@media screen and (max-width: 450px) {
  .skills .title {
    font-size: 25px;
    right: 5.3rem;
  }
}
@media screen and (max-width: 375px) {
  .skills .title {
    font-size: 25px;
    right: 4.2rem;
  }
}
@media screen and (max-width: 350px) {
  .skills .home__shape-small {
    width: 150px;
    height: 150px;
    top: 5rem;
    left: 1rem;
  }
  .skills .home__shape-big-1 {
    top: 8rem;
    right: 1rem;
  }
  .skills .home__shape-big-2 {
    left: 1rem;
    bottom: 10rem;
  }
  .skills .title {
    position: absolute;
    font-size: 18px;
    left: 27.5%;
  }
  .skills .box .box-svg .svg-1 {
    width: 22px;
  }
  .skills .box .box-svg .svg-2 {
    width: 22px;
  }
  .skills .box .box-svg .svg-3 {
    width: 22px;
  }
  .skills .box .box-svg .svg-4 {
    width: 22px;
  }
  .skills .box .box-svg .svg-5 {
    width: 22px;
  }
  .skills .box .box-svg .svg-6 {
    width: 22px;
  }
  .skills .box .box-svg .svg-7 {
    width: 22px;
  }
  .skills .box .box-svg .svg-8 {
    width: 22px;
  }
  .skills .box .box-svg .svg-9 {
    width: 22px;
  }
  .skills .box .box-svg .svg-10 {
    width: 22px;
  }
  .skills .box .box-svg .svg-11 {
    width: 22px;
  }
  .skills .box .box-svg .svg-12 {
    width: 22px;
  }
  .skills .box .box-svg .svg-13 {
    width: 22px;
  }
  .skills .box .box-svg .svg-14 {
    width: 22px;
  }
  .skills .box .box-svg .svg-15 {
    width: 22px;
  }
  .skills .box .box-svg .svg-16 {
    width: 22px;
  }
  .skills .box .box-svg .svg-17 {
    width: 22px;
  }
  .skills .box .box-svg .svg-18 {
    width: 22px;
  }
  .skills .box .box-svg .svg-19 {
    width: 22px;
  }
  .skills .box .box-svg .svg-20 {
    width: 22px;
  }
  .skills .box .box-svg .svg-21 {
    width: 22px;
  }
  .skills .box .box-svg .svg-22 {
    width: 22px;
  }
  .skills .box .box-svg .svg-23 {
    width: 22px;
  }
  .skills .box .box-svg .svg-24 {
    width: 22px;
  }
  .skills .box .box-svg .svg-25 {
    width: 22px;
  }
  .skills .box .box-svg .svg-26 {
    width: 22px;
  }
  .skills .box .box-svg .svg-27 {
    width: 22px;
  }
  .skills .box .box-svg .svg-28 {
    width: 22px;
  }
  .skills .box .box-svg .svg-29 {
    width: 22px;
  }
  .skills .box .box-svg .svg-30 {
    width: 22px;
  }
  .skills .box .box-svg .svg-31 {
    width: 22px;
  }
  .skills .box .box-svg .svg-32 {
    width: 22px;
  }
  .skills .box .box-svg .svg-33 {
    width: 22px;
  }
  .skills .box .box-svg .svg-34 {
    width: 22px;
  }
  .skills .box .box-svg .svg-35 {
    width: 22px;
  }
  .skills .box .box-svg .svg-36 {
    width: 22px;
  }
  .skills .box .box-svg .svg-37 {
    width: 22px;
  }
  .skills .box .box-svg .svg-38 {
    width: 22px;
  }
  .skills .box .box-svg .svg-39 {
    width: 22px;
  }
  .skills .box .box-svg .svg-40 {
    width: 22px;
  }
  .skills .box .box-svg .svg-41 {
    width: 22px;
  }
  .skills .box .box-svg .svg-42 {
    width: 22px;
  }
  .skills .box .box-svg .svg-43 {
    width: 22px;
  }
  .skills .box .box-svg .svg-44 {
    width: 22px;
  }
  .skills .box .box-svg .svg-45 {
    width: 22px;
  }
  .skills .box .box-svg .svg-46 {
    width: 22px;
  }
  .skills .box .box-svg .svg-47 {
    width: 22px;
  }
  .skills .box .box-svg .svg-48 {
    width: 22px;
  }
  .skills .box .box-svg .svg-49 {
    width: 22px;
  }
  .skills .box .box-svg .svg-50 {
    width: 22px;
  }
  .skills .box .box-svg .svg-51 {
    width: 22px;
  }
}/*# sourceMappingURL=skills.css.map */